
.main_div_skills{
    @apply mb-12 mt-16 sm:mb-0 flex justify-center sm:mt-4 items-center;
}
/* 
.div_skills{
    @apply ;
} */

.neumorphism{
    /* box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff; */
    box-shadow:  -5px -5px 50px #b6b2b2a8, 5px 5px 50px #dcd3d38a;
}

.darkMode{
    @apply sm:dark:text-white sm:dark:bg-gradient-to-r sm:dark:from-[#413737d5] sm:dark:to-[#443434e1] dark:text-white
    dark:bg-gradient-to-r dark:from-[#413737] dark:to-[#443434] dark:border-indigo-300/50 dark:border;
}

.skills-svg-tam{
    @apply w-6 h-6 sm:w-9 sm:h-9 dark:fill-white fill-black;
}

.cls-1{fill:#9c85b8;}.cls-2{fill:#8057ac;}.cls-3{fill:#caa3e7}.cls-4{fill:#b2a9be;}.cls-5{fill:#fff;}

/* url(#a58bcd, #652c93) */
.asd{
    color:#82719e;
    background: #8057ac;
    background: #9c85b8;
}

.cols-skills{
    @apply col-span-7 md:col-start-auto md:col-span-3 bg-[#b8bac28f] min-h-max h-full w-full rounded-md text-lg
    sm:hover:shadow-2xl dark:bg-gray-800/50 dark:text-white dark:border-indigo-300/50 dark:border
    select-none
    grid col-start-2 grid-cols-8 grid-rows-6 gap-2 sm:hover:scale-[1.05] transition duration-300 delay-75;
}