<div class="fixed z-20 md:h-24 w-full" [ngClass]="{
	'animate-niebla-open-top': niebla,
	'animate-niebla-close-top':!niebla 
}">
</div>

<div class="fixed bottom-0 z-20 md:h-24  w-full" [ngClass]="{
	'animate-niebla-open-bottom': niebla,
	'animate-niebla-close-bottom':!niebla 
}"
>
</div>

<app-perfil (posOnComponent)="enComponente($event)" (posLeaveComponent)="enComponente($event)"></app-perfil>
<!-- <app-projects (scroll)="scrollProjects($event)"></app-projects> -->
<app-projects></app-projects>

<app-about-me (posOnComponent)="enComponente($event)" (posLeaveComponent)="enComponente($event)"></app-about-me>