
<app-navbar [loadedAbout]="this.loadedAbout"
[loadedProjects]="this.loadedProjects"
(selectedSection)="smoothScroll($event)"></app-navbar>
<!-- <app-projects (scroll)="scrollProjects($event)"></app-projects> -->

<app-perfil id="perfil"></app-perfil>

<virtual-load>
    <ng-template loadContent>   
        <app-projects #projects id="projects"></app-projects>
    </ng-template>
</virtual-load>

<virtual-load>
    <ng-template loadContent>   
        <app-about-me #about id="aboutme"></app-about-me>
    </ng-template>
</virtual-load>

<app-footer></app-footer>
