<div class="bg-transparent flex justify-center min-h-screen items-center">
    <div class="div-perfil">
        <div class="w-full flex justify-center py-6 px-4 select-none">
            <img class="w-6/12 h-6/12 lg:w-3/12 lg:h-3/12 md:w-4/12 md:h-4/12 rounded-lg border border-white shadow-xl" src="../../../../assets/me.webp" alt="">
        </div>
        <h1 class="text-4xl sm:text-6xl lg:text-8xl py-8 text-center animate__fadeInUp animate__slow animate__animated">{{'Miqueas Gimenez' | uppercase}}</h1>
        <div class="text-md text-center w-full mb-4 pb-4 pt-2">
            <p class="w-100">{{'MAIN.PERFIL.DESC' | translate}}</p>
        </div>
        
    </div>
</div>