<div class="main_div_skills">
    <div data-aos="zoom-in-up" data-aos-easing="ease-out-cubic" data-aos-duration="1200" class="div_skills">
        <h2 class="my-2 py-4 font-semibold">Skills / Habilidades</h2>
            <div class="lg:mx-8 w-full">
                <!-- !Skills -->
                <div class="bg-[#b8bac28f] h-6 w-6">
<!--TODO: hacer skills con iconos negros/blancos, segun el DarkMode, luego con un hover tenerlos con el gradient.
Luego ver si esta bueno el ToolTip de material, sino hacerlo yo -->

<!-- Despues de esto hacer la parte de educacion + experiencia -->
                </div>
                
            </div>
    </div>
</div>