<!-- 
<app-navbar [class.dark]="darkMode$ | async"
[loadedAbout]="this.loadedAbout"
[loadedProjects]="this.loadedProjects"
(selectedSection)="smoothScroll($event)"></app-navbar> -->


<!-- <app-projects (scroll)="scrollProjects($event)"></app-projects> -->

<app-percentage [percentage]="scrollPercentage"></app-percentage>

<app-skills #skills id="skills"></app-skills>

<app-perfil id="perfil"></app-perfil>


<virtual-load>
    <ng-template loadContent>   
        <app-projects
        #projects id="projects"></app-projects>
    </ng-template>
</virtual-load>

<virtual-load>
    <ng-template loadContent>   
        <app-about-me #about id="about"></app-about-me>
    </ng-template>
</virtual-load>

<virtual-load>
    <ng-template loadContent>   
        <app-skills #skills id="skills"></app-skills>
    </ng-template>
</virtual-load>

<!-- <app-footer [class.dark]="darkMode$ | async"
></app-footer> -->
