

@media (max-width: 640px) {
    body{
        background: #C9D6FF;
        background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
        background: linear-gradient(to right, #E2E2E2, #C9D6FF);
        
    }
}

/* @media (min-width: 640px) and (max-width: 900px){

} */

@media (min-width:640px) and (max-width: 1925px) and (max-height: 1280px) {
    body{
        background-image: url('../../../../assets/fondo2-.webp');
        background-repeat: no-repeat;
    }
}

@media (min-width: 1925px) or (min-height: 1280px) {
    body{
        background: #000000;
        background: -webkit-linear-gradient(to right, #434343, #000000); 
        background: linear-gradient(to right, #434343, #000000);
        
    }
}

.span-scrolltop-layout{
    @apply sm:dark:text-white sm:dark:bg-gradient-to-r sm:dark:from-[#413737d5] sm:dark:to-[#443434e1] dark:text-white
    dark:bg-gradient-to-r dark:from-[#413737] dark:to-[#443434] dark:border-indigo-300/50 dark:border
    p-3 bg-gradient-to-r from-[#f1f1f1d5] to-[#ececece1] dark:sm:hover:fill-indigo-300/75
    shadow-lg sm:hover:fill-[#8057ac] border border-[#8057ac09]
    sm:hover:shadow-2xl sm:hover:scale-[1.04]
    fixed z-20 cursor-pointer rounded-full
    top-[87%] right-[2%]
    sm:top-[93%] sm:right-[2%];
}