<span *ngIf="item.name === 'perfil'"
    (mouseenter)="mouseEnter(item.name)" (mouseleave)="mouseLeave()"
    routerLink="" routerLinkOptions="{exact: true}"
    [innerHTML]="item.svgHTML | safe:'html'" class="animate-hover-svg"
></span>

<span *ngIf="item.name === 'about' || item.name === 'projects'"
(click)="emitSection(item.name)"

(mouseenter)="mouseEnter(item.name)" (mouseleave)="mouseLeave()"
class="animate-hover-svg"
[innerHTML]="item.svgHTML | safe:'html'"
>
</span>

<span *ngIf="item.name === 'contact'"
(click)="openFormMail()"
(mouseenter)="mouseEnter(item.name)" (mouseleave)="mouseLeave()"
class="animate-hover-svg"
[innerHTML]="item.svgHTML | safe:'html'">
</span>

<!-- Redes Links -->
<!-- //TODO: Quitar correctamente -->
<!-- <a *ngIf="item.href && item.name !== 'cv'" 
(mouseenter)="mouseEnter(item.name)" (mouseleave)="mouseLeave()"
[innerHTML]="item.svgHTML | safe: 'html'"
[href]="item.href" target="_blank"></a> -->

<!-- CV Download -->
<a
*ngIf="item.name === 'cv'" [href]="item.href" download="Miqueas Gimenez CV"
(mouseenter)="mouseEnter(item.name)" (mouseleave)="mouseLeave()"
(click)="successDownload()"
[innerHTML]="item.svgHTML | safe: 'html'"></a>

<!--  messages span  -->
<div *ngIf="mostrar === this.item.name" class="absolute justify-center animate__fadeIn animate__fast animate__animated">
    <span class="span-nav">{{('NAVBAR.' + item.name) | translate}}</span>
</div>

<!-- //TODO: Pasar a ngSwitch -->