@media (min-width: 640px) {
    .animate-hover-svg:hover{
        animation: pulse;
        animation-duration: .3s;
        /* fill: linear-gradient(to bottom left, #ACB6E5 19%, #C9D6FF 100%); */
        fill: url(#nav-gradient);
        width: 45px;
        height: 45px;
        transition: .5s;
        transition-property: fill, width, height;
    }
    
    .animate-hover-svg{
        cursor: pointer;
        transition: .5s;
        transition-property: fill, width, height;
    }
    
}

@media (max-width: 639px) {
    .animate-hover-svg:active{
        animation: pulse;
        animation-duration: .2s;
        transition: .2s;
        transition-property: fill;
        fill: #5d6483;
        box-shadow: 2px 2px 5px #C9D6FF;
    }
}

#nav-gradient {
    --color-stop: #ACB6E5;
    --color-bot: #C9D6FF;
}