
<span *ngIf="!item.href" 
(mouseenter)="mouseEnter(item.name)" (mouseleave)="mouseLeave()"
(click)="linkToComponent && emitSection(item.name)"
[innerHTML]="item.svgHTML | safe:'html'" 
class="animate-hover-svg"
>
</span>

<!-- Redes Links -->
<a *ngIf="item.href && item.name !== 'cv'" 
(mouseenter)="mouseEnter(item.name)" (mouseleave)="mouseLeave()"
[innerHTML]="item.svgHTML | safe: 'html'"
[href]="item.href" target="_blank"></a>

<!-- CV Download -->
<a *ngIf="item.name === 'cv'" [href]="item.href" download="Miqueas Gimenez CV"
(mouseenter)="mouseEnter(item.name)" (mouseleave)="mouseLeave()"
(click)="successDownload()"
[innerHTML]="item.svgHTML | safe: 'html'"></a>

<!--  messages span  -->
<div *ngIf="mostrar === this.item.name" class="absolute justify-center animate__fadeIn animate__fast animate__animated">
    <span class="span-nav">{{item.spanDesc}}</span>
</div>