.project-item-style{
    transition: .6s;
}

@media (min-width: 650px) {
    .title-project{
        letter-spacing: .1rem;
        font-family: 'Oswald', sans-serif;
    }

    .blured-project{
        filter: blur(2px);
        -webkit-filter: blur(2px);
        transition: .9s;
        opacity: .8;
        transition-property: filter, blur, opacity;
    }
    .project-animate:hover{
        filter: blur(0px), grayscale(0%);
        animation: pulse;
        animation-duration: .6s;
        background-color: #acb6e593;
    }
}

@media (max-width: 600px) {
    .bg-mobile{
        background-color: #acb6e593;
    }
    .title-project{
        letter-spacing: .3rem;
        margin-bottom: 6px;
        font-family: 'Oswald', sans-serif;
    }
}

