<p class="text-3xl font-bold underline">navbar works!</p>
<div class="container mx-auto bg-zinc-100">
    <div class="-mx-4 flex flex-wrap">
        <div class="w-full px-4">
            <div class="mx-auto mb-[60px] max-w-[510px] text-center">
                <span class="text-primary mb-2 block text-lg font-semibold">
                    Our Portfolio
                </span>
                <h2 class="text-dark mb-4 text-3xl font-bold sm:text-4xl md:text-[40px]">
                    Our Recent Projects
                </h2>
                <p class="text-body-color text-base">
                    There are many variations of passages of Lorem Ipsum available but
                    the majority have suffered alteration in some form.
                </p>
            </div>
        </div>
    </div>
</div>