<div class="bg-transparent flex justify-center min-h-screen items-center">

    <app-particles class="absolute w-full md:w-10/12 lg:w-8/12 py-20 sm:py-44 h-full z-1"></app-particles>

    <div class="profile-div neumorphism  sm:dark:text-white sm:dark:bg-gradient-to-r sm:dark:from-[#413737d5] sm:dark:to-[#443434e1] dark:text-white
    dark:bg-gradient-to-r dark:from-[#413737] dark:to-[#443434] dark:border-indigo-300/50 dark:border">

        <div class="col-span-6 row-start-1 sm:row-end-1 col-end-1 sm:col-span-4">
            <div class="w-full sm:w-fit mt-8 flex justify-center items-center">
                <h1
                class="z-20 text-center text-4xl sm:text-6xl lg:text-8xl 
                animate__fadeIn animate__slower animate__animated">
                {{'Miqueas Gimenez' | uppercase}}</h1>
            </div>

            <div class="z-20 text-md text-center w-full mb-4 pb-4 pt-2">
                <p class="w-100">{{'MAIN.PERFIL.DESC' | translate}}</p>
            </div>
            <div class="w-full  z-20 flex justify-center pb-8">
                <div class="md:w-2/6 flex backdrop-blur px-4 justify-center">

<!--TODO: Llevar clases a .Css -->
                    <ng-container *ngFor="let itemSvg of socialItems; index as i">
<!--TODO: poner a todos en true en mobile, + flexwrap/flex-col -->
                        <ng-container 
                        *ngIf="itemSvg.href !== ''; 
                        else withoutHref">
                            <a (mouseenter)="showLink(i)" (mouseleave)="hideLink(i)"
                            [href]="itemSvg.href" target="_blank"
                            class="sm:transition-all sm:duration-500 sm:delay-75 animate-profile-svg mr-5 bg-gray-300 rounded-md py-0.5 sm:py-2 pl-2 cursor-pointer flex sm:text-lg items-center w-fit">
                                <span [innerHTML]="itemSvg.svg | safeHTML"></span>
                                <span [ngClass]="{
                                    'w-24 scale-100': link[i] && itemSvg.userId === 'miquigz',
                                    'w-40 scale-100': link[i] && itemSvg.userId === 'miqueasgimenez',
                                    'scale-[0] w-0': !link[i]}"
                                    class="w-0 scale-[0] transition-all delay-75 duration-300 ease-out text-black text-lg font-semibold ml-2">@{{itemSvg.userId}}
                                </span>
                            </a>
                        </ng-container>
                        <ng-template #withoutHref>
                            <div (mouseenter)="showLink(i)" (mouseleave)="hideLink(i)"
                            (click)="copyId(itemSvg.userId, i)"
                            class="transition-all duration-500 delay-75 animate-profile-svg mr-5 bg-gray-300 rounded-md py-2 pl-2 cursor-pointer flex text-lg items-center">
                                <span  
                                [innerHTML]="itemSvg.svg | safeHTML"></span>
                                <span [ngClass]="{
                                    'w-24 scale-100': link[i] && itemSvg.userId === 'miquigz',
                                    'w-28 scale-100': link[i] && itemSvg.userId === 'Miqui#1181',
                                    'scale-[0] w-0': !link[i]}"
                                    class="w-0 scale-[0] transition-all delay-75 duration-300 ease-out text-black text-lg font-semibold ml-1.5 sm:ml-2">@{{itemSvg.userId}}
                                </span>
                            </div>
                        </ng-template>
                    </ng-container>

                </div>


            </div>
        </div>

<!-- todo: Arreglar overlay al principio, establecer boolean de primera carga -->

        <div class="z-20 col-span-6 row-end-1 sm:row-start-1 sm:col-span-2 flex justify-center py-6 px-4 select-none">
            <div class="flex justify-center w-full">
                <img
                class="md:h-52 md:w-52 h-64 w-64 lg:h-64 lg:w-64 sm:w-full sm:h-full rounded-lg border border-white shadow-xl" src="../../../../assets/me.webp" alt="">
            </div>
            
        </div>

    </div>
</div>