<div class="min-h-screen flex flex-col justify-center items-center bg-indigo-100/75 dark:bg-stone-800/75">
    <div class="bg-stone-900/75 text-white rounded-lg mt-2 lg:mt-4 p-3">
        <p class="text-center font-semi-bold text-2xl">{{'INFOAPP.TITLE' | translate}}</p>
    </div>
    <div class="mx-1 mt-2 md:text-justify md:w-3/6">
        <p class="dark:text-white text-center mt-2 mb-3">{{'INFOAPP.DESC' | translate}}</p>
    </div>
    <div class="rounded-lg mx-0.5">
        <img class="rounded-lg" src="../../../assets/info/portfolio.webp" alt="">
    </div>
    <div class="mt-2 lg:mt-4">
        <a class="p-1 rounded-lg bg-indigo-200/75 border border-white transition
        text-stone-600 sm:hover:border-stone-900/50 sm:dark:hover:border-indigo-200
        sm:hover:text-stone-900 sm:dark:hover:text-white" href="https://github.com/miquigz/portfolio-angular" target="_blank">{{'INFOAPP.LINKREPO' | translate}}</a>
    </div>

</div>